DATABASE_URL=postgres://username:password@localhost:5432/distributed_job_scheduler
JWT_SECRET=your_jwt_secret_key_here
PORT=4000
CLIENT_URL=http://localhost:5173
WORKER_ID=a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
WORKER_NAME=worker-node-1
WORKER_CONCURRENCY=5
HEARTBEAT_INTERVAL=5000
POLL_INTERVAL=2000
NODE_ENV=development
